<form [formGroup]="profileForm" (ngSubmit)="submit()" autocomplete="off" >
<div >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
            <p>profile-form works!</p>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-sm-2 col-md-2">
        <app-text-input [formControl]="$any(profileForm.controls['username'])" [label]="'Username'" ></app-text-input>       
    </div>
  
      <div class="col-sm-4 col-md-4">
        <app-text-input [formControl]="$any(profileForm.controls['email'])" [label]="'Email'" ></app-text-input>         
      </div>
      <div class="col-sm-3 col-md-3">
        <app-text-input [formControl]="$any(profileForm.controls['bio'])" [label]="'Bio'" ></app-text-input>        
      </div>
      <div class="col-sm-2 col-md-2 mb-3">
        <label >Profile picture </label>
       </div>      
    </div>
    <br>
    <div class=" container">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <label >Interests </label>
          <div formArrayName="interests">
            <ng-container *ngFor="let interest of getInterests.controls; index as i">   
              <input type="text" id="interest - {{i}}" [formControlName]="i">  
              <button class="btn btn-primary" (click)="deleteInterest(i)" tabindex="0">
                <span>Delete Interest</span>
              </button>
            </ng-container>
          </div>
        </div>  
        <div class="col-sm-8 col-md-8">     
        </div>
      </div>    
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <button class="btn btn-primary" (click)="addInterest()" tabindex="0">
            <span>Add Interest</span>
          </button>
        </div>  
        <div class="col-sm-8 col-md-8">     
        </div>
      </div>
      <br>
    </div>    
    <div class=" container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <button class="btn btn-primary" type="submit" tabindex="0">
            <span>Update</span>
          </button>   
        </div>  
        <div class="col-sm-10 col-md-10">     
        </div>
      </div>
    </div>   
  </div>
</form>
<p>Form value: {{profileForm.value | json}}</p>
<p>Form status: {{profileForm.status | json}}</p>