<div >
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <p>pokemons-species-search works!</p>
          <p>You can find the request, request count, and loading process in the dev console.</p>
        </div>
      </div>
      <div class="row"></div>
      <div class="col-sm-4 col-md-4">
        <label >Search specie of pokemon: "wormadam"  </label>
      </div>
      <div class="col-sm-4 col-md-4">
      </div>
      <div class="col-sm-4 col-md-4">     
      </div>
    </div>
    <br>
    <div class=" container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <button class="btn btn-primary" (click)="searchPokemonSpecie()" tabindex="0">
            <span>Search</span>
          </button>
        </div>      
        <div class="col-sm-2 col-md-2">         
        </div>      
        <div class="col-sm-8 col-md-8"> 
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class=" container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <button class="btn btn-primary" routerLink="" tabindex="0">
            <span>Dashboard</span>
          </button>
        </div>  
        <div class="col-sm-10 col-md-10">     
        </div>
      </div>
    </div>
  
  
  </div>
