<div >
  <div class="col-sm-12 col-md-12">
    <p>App component works!</p>
  </div>
  <div class=" container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <router-outlet></router-outlet>
        </div>  
      </div>
    </div>
    <br>
    <hr>
    <div class="container">
      <div class="row">
      </div>
      <div class="row"></div>
      <div class="col-sm-12 col-md-12">
        <label >Choose a functionality: </label>       
      </div>     
    </div>
    <br>
    <div class=" container">
      <div class="row">
        <div class="col-sm-2 col-md-2">
          <button class="btn btn-primary" routerLink="componentesA" tabindex="0">
            <span>Profile update</span>
          </button>
        </div>      
        <div class="col-sm-4 col-md-4">
          <button class="btn btn-warning" routerLink="componentesB" tabindex="0">
            <span>Notifications and pokemon search</span>
          </button>
        </div>      
        <div class="col-sm-4 col-md-4">     
          <button class="btn btn-warning" routerLink="pipes" tabindex="0">
            <span>Pipes and Directives</span>
          </button>
        </div>
        <div class="col-sm-2 col-md-2">
            <button class="btn btn-warning" routerLink="" tabindex="0">
              <span>DashBoard</span>
            </button>
          </div>  
      </div>
    </div>
  </div>
<app-spinnerloader></app-spinnerloader> 
